{
    "consumer_key": "",
    "consumer_secret": "",
    "source": {
        "token": "",
        "secret": ""
    },
    "targets": [
        {
            "token": "",
            "secret": ""
        }
    ]
}
